html, body {
  background: -webkit-radial-gradient(center center, contain, rgba(21, 60, 141, 0.53), black) center center no-repeat, black;
  /* background-color : #161616; */
  font-family      : monospace;
  margin           : 0;
  padding          : 0;
}

canvas {
  height   : 100%;
  position : absolute;
  width    : 100%;
}
.terminal {
  background         : url(../images/interlace.png) top left repeat, rgba(255, 255, 255, 0.07);
  height             : 100%;
  position           : absolute;
  width              : 100%;
  -webkit-box-orient : horizontal;
  -webkit-transition : -webkit-transform 2s ease-in;
} 

#prompt {
  color       : rgba(0, 142, 236, 1.0);
  display     : inline-block;
  font-size   : 12px;
  font-weight : bold;
  left        : 20px;
  position    : absolute;
  top         : 35px;
}

#prompt.no-focus {
  color       : rgba(66, 66, 66, 0.9);
  font-size   : 12px;
  font-weight : bold;
}

input {
  background-color : rgba(0, 0, 0, 0.42);
  border-bottom    : 1px solid rgba(66, 66, 66, 0.9);
  border-left      : transparent;
  border-right     : transparent;
  border-top       : transparent;
  color            : rgba(66, 66, 66, 0.9);
  display          : inline-block;
  font-family      : Ubuntu Mono;
  font-size        : 15px;
  height           : 40px;
  left             : 60px;
  outline          : 0;
  padding          : 10px;
  position         : absolute;
  text-shadow      : 0 0 20px rgba(255, 255, 255, .6);
  top              : 20px;
  width            : 94%;
}

input::selection {
  background-color : pink;
}
input:focus {
  /* a reminder of something to do later */
  /* background: url(../images/microphone.png) no-repeat 100%; */
  background-color : transparent;
  border-bottom    : 1px solid rgba(0, 142, 236, 0.9);
  border-left      : transparent;
  border-right     : transparent;
  border-top       : transparent;
  color            : rgba(0, 142, 236, 1);
  font-family      : Ubuntu Mono;
  font-size        : 15px;
  text-shadow      : 0 0 5px rgba(255, 255, 255, 0.05);
}

fieldset {
  border :transparent;
}

#stdout {
  color       : rgba(0, 142, 236, 0.9);
  display     : block;
  font-size   : 30px;
  font-weight : bold;
  left        : 600px;
  position    : absolute;
  top         : 100px;
}
