// functions
@function black($opacity){
  @return rgba(0,0,0,$opacity);
}
@function white($opacity){
  @return rgba(255,255,255,$opacity);
}
// end functions
@mixin experimental($property, $value){
  -webkit-#{$property} : $value;
   -khtml-#{$property} : $value;
     -moz-#{$property} : $value;
      -ms-#{$property} : $value;
       -o-#{$property} : $value;
          #{$property} : $value;
}

// Used when the property is standard but the value is vendor-specific
@mixin experimental-value($property, $value){
  $property : -webkit-#{$value};
  $property :  -khtml-#{$value};
  $property :    -moz-#{$value};
  $property :     -ms-#{$value};
  $property :      -o-#{$value};
  $property :         #{$value};
}

// mixins
// end mixins

$appBackgroundColor: #161616;
$selectedTextBackgroundColor: pink;

html, body {
  background-color: $appBackgroundColor;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

#terminal {
  background: url(../images/interlace.png) top left repeat, rgba(255, 255, 255, 0.07);
  @include experimental(display, box);
  @include experimental(box-orient, horizontal);
  height: 100%;
  width: 100%;
}

#prompt {
  color: rgba(0, 142, 236, 1.0);
  font-weight: bold;
  margin-left: 20px;
  @include experimental(box-flex, 1);
}
input {
  border-bottom: 1px solid rgba(0, 142, 236, 0.9);
    //TODO: piping
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-family: Ubuntu Mono;
  font-size: 16px;
  color: rgba(0, 142, 236, 1);
  background-color: transparent;
  outline: 0;
  padding : 12px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
  width: 91%;
  @include experimental(box-flex, 2);
}

input::selection {
  background-color: $selectedTextBackgroundColor;
}
input:focus {
  color: rgba(0, 142, 236, 1);
}

fieldset {
  border:none;
}
