// functions
@function black($opacity){
  @return rgba(0,0,0,$opacity);
}
@function white($opacity){
  @return rgba(255,255,255,$opacity);
}
// end functions
@mixin experimental($property, $value){
  -webkit-#{$property} : $value;
   -khtml-#{$property} : $value;
     -moz-#{$property} : $value;
      -ms-#{$property} : $value;
       -o-#{$property} : $value;
          #{$property} : $value;
}

// Used when the property is standard but the value is vendor-specific
@mixin experimental-value($property, $value){
  $property : -webkit-#{$value};
  $property :  -khtml-#{$value};
  $property :    -moz-#{$value};
  $property :     -ms-#{$value};
  $property :      -o-#{$value};
  $property :         #{$value};
}

// mixins
// end mixins

$appBackgroundColor: #0c0c0c;
$selectedTextBackgroundColor: pink;

html, body {
  background: -webkit-radial-gradient(center center, contain, rgba(21, 60, 141, 0.53), black) center center no-repeat, black;
  background-color: $appBackgroundColor;
  margin: 0;
  padding: 0;
}

#terminal-wrapper {
  background: url(assets/images/interlace.png) top left repeat, rgba(255, 255, 255, 0.07);
  height: 100%;
  width: 100%;
}

input {
  font-family: monospace;
  font-size: 13px;
  color: #CCCCCC;
  background-color: white(.1);
  border: none;
  outline: 0;
  padding : 12px;
  width: 100%;
  @include experimental-value(display, box);
  @include experimental(box-orient,    vertical);
  @include experimental(box-pack,      center);
  @include experimental(box-align,     center);
}

input::selection {
  background-color: $selectedTextBackgroundColor;
}

fieldset {
  border:none;
}

/* thought about it */
.box{
  @include experimental-value(display, box);
  @include experimental(box-orient,    vertical);
  @include experimental(box-pack,      center);
  @include experimental(box-align,     center);
}
  
a, a:visited {
  color: #ffffff;
  text-decoration: none;
}
